body::after {
    background-image: url('https://raw.githubusercontent.com/Daiury/Miamor/main/miranha-2.jpeg');
    right: 0; /* Posiciona à direita */
    top: 0;
    bottom: 50%;
    background-position: center;
    background-size: contain;
}

html::after {
    background-image: url('https://raw.githubusercontent.com/Daiury/Miamor/main/miranha-2.jpeg');
    top: 50%;
    bottom: 0;
    right: 0; /* Posiciona à direita inferior */
    background-position: center;
    background-size: contain;
}
